# Copyright 2025 Dell Inc. or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#!/bin/sh
systemctl start corosync
systemctl start pacemaker

# Check if corosync and pacemaker have started
if ! systemctl status corosync > /dev/null; then
    echo "Corosync has not started. Exiting with return code 1."
    exit 1
fi

if ! systemctl status pacemaker > /dev/null; then
    echo "Pacemaker has not started. Exiting with return code 1."
    exit 1
fi

echo "Corosync and Pacemaker have started. Continuing with the script."

pcs property set stonith-enabled=false
pcs property set no-quorum-policy=ignore

pcs resource group add {{ pcs_group }}

{% if hostvars['localhost']['service_node_ha_data']['enable_service_ha'] %}
pcs resource create VIP ocf:heartbeat:IPaddr2 \
    ip={{ hostvars['localhost']['oim_ha_data'].ansible_facts.oim_ha.virtual_ip_address }} \
    cidr_netmask={{ hostvars['localhost']['network_data'].admin_network.netmask_bits }} \
    op monitor interval={{ monitor_interval }} --group {{ pcs_group }}

pcs resource defaults update migration-threshold={{ ha_migration_threshold }}
{% endif %}

# Set up correct container symlink
nodeid=$(dmidecode -s system-serial-number)
echo "[DEBUG] Current node serial: $nodeid"

# Determine active node map
{% set active_node_map = {} %}
{% for group in service_node_ha_data.service_nodes %}
  {% for passive_tag in group.passive_nodes[0].node_service_tags %}
    {% set _ = active_node_map.update({passive_tag: group.active_node_service_tag}) %}
  {% endfor %}
{% endfor %}

active_node="{{ active_node_map.get(nodeid, nodeid) }}"
echo "[DEBUG] Using container from active node: $active_node"

ln -sf {{ oim_shared_path }}/omnia/service_nodes/${active_node}/{{ pcs_container_name }}.container \
       {{ container_systemd_dir }}/{{ pcs_container_name }}.container

# Wait for resources to start
total_sleep_time=0
max_iterations=18
for ((i=0; i<max_iterations; i++)); do
    if pcs resource | grep "Stopped\|FAILED"; then
        echo "Sleeping for 10 seconds. Total sleep time: $total_sleep_time seconds."
        sleep 10
        total_sleep_time=$((total_sleep_time + 10))
    else
        break
    fi
done
